<%= render 'shared/errors', obj:@user%>
<div
  class="container-lg mx-auto"
  >
  <h2 class="text-center font-weight-bold" style="margin-top:3.5rem;">
    Profilini Düzenle
  </h2>

  <%= render 'form'%>
</div>
