<% if obj.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <span> <%= obj.errors.full_messages.first %></span>
</div>
<%end%>
