/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";


 .login-dark {
   height:1000px;
   background: url('https://www.pauteknokent.com.tr/images/teknokent.jpg') no-repeat center center fixed;
   background-size:cover;
   position:relative;

 }


.alert{
  width:100%;
  position: absolute;
  z-index: 100;
}

 .login-dark form {
   opacity: 90%;
   max-width:320px;
   width:90%;
   background-color:#1e2833;
   padding:40px;
   border-radius:4px;
   transform:translate(-50%, -50%);
   position:absolute;
   top:50%;
   left:50%;
   color:#fff;
   box-shadow:3px 3px 4px rgba(0,0,0,0.2);
 }

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}
.login-dark .illustration img {
  width: 200px;
  height: 200px;
}
.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}
.center_div {
  text-align: center;
}

.profile-btn{
  font-size: 1rem !important;
}

#profile-card{
  width:100%;
  font-size: 1.30rem !important;
  height: 100vh;
  background: #dee2e2;
}

.join{
  font-size: 1rem;
}


@media screen and (max-width: 992px) {
  .login-dark {
    background: url('https://www.pauteknokent.com.tr/images/teknokent.jpg') no-repeat center center fixed;
    background-size:cover;
    }
  .about-logo{
      display: flex;
      justify-content: center !important;
      align-items: center;
      margin-top: 2rem;
    }
  #contact-section-first{
      border-right: none!important;
      border-bottom: 1px inset #1376c1;
    }

}

@media screen and (max-width: 600px) {
  .login-dark {
    background: url('https://www.pauteknokent.com.tr/images/teknokent.jpg') no-repeat center center fixed;
    background-size:cover;
  }
  #edit-user-buttons{
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    height:150px;
  }
  #update-back-buttons{
    width:100%;
    margin-left:2rem;
    margin-right:2rem;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
  }
  #user-cancel-btn{
    width:100%;
    margin-top:4rem;
    margin-right:12rem;
  }
  .about-logo{
    display: flex;
    justify-content: center !important;
    align-items: center;
    margin-top: 2rem;
  }
  #contact-section-first{
    border-right: none!important;
    border-bottom: 1px inset #1376c1;
  }

}
